/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Inter", "Nanum Gothic", "Roboto", "Poppins", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --primaryColor: #222831;
  --tertiaryColor: #f05454;
  --bgColor: #dddddd;
  --lightColor: #f1f1f1;
  --textColorPrimary: #222831;
  --textColor: #353535;
  --borderRadius: 5pt;
}
body {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--textColor);
  padding: 2rem 0;
}
.mainPart {
  min-height: 120px;
  min-width: 500px;
  width: 35vw;
  max-width: 600px;
  padding: 30px 40px;
  margin: 20px 0;
  border-radius: 10pt;
  background-color: var(--lightColor);
  box-shadow: 0 3pt 40pt -10pt #00000020;
}
p {
  font-weight: 400;
  color: var(--textColor);
}
.mainPart section {
  background-color: transparent;
}
.mainPart section .title {
  margin-bottom: 0.8rem;
  color: var(--textColorPrimary);
  font-weight: 800;
  font-size: 2.4rem;
}
.textContent {
  margin-top: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.textContent label {
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 0.2rem;
  color: var(--textColor);
  font-weight: 600;
  opacity: 0.8;
}
.textContent .txt {
  all: unset;
  font-size: 1rem;
  background-color: #e9e9e9;
  padding: 1rem;
  border-radius: var(--borderRadius);
  box-shadow: inset 0 0 0 1pt #00000025;
  color: var(--textColor);
  transition: box-shadow 200ms ease;
}
.textContent .txt:hover {
  box-shadow: inset 0 0 0 2pt #00000025;
}
.textContent .txt:focus {
  box-shadow: inset 0 0 0 2pt #222831a9;
}
.btnContent {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
}
.jc-start {
  justify-content: flex-start !important;
}
.jc-end {
  justify-content: flex-end !important;
}
.jc-stretch {
  justify-content: stretch !important;
}
.ai-start {
  align-items: flex-start !important;
}
.ai-end {
  align-items: flex-end !important;
}
.ai-stretch {
  align-items: stretch !important;
}
.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.2rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--tertiaryColor);
  color: #ffffff;
  border-radius: var(--borderRadius);
  cursor: pointer;
  box-shadow: inset 0 0 0 2pt #00000000;
  transition: box-shadow 200ms ease, background-color 200ms;
}
.btn:hover {
  box-shadow: inset 0 0 0 2pt #00000030;
  background-color: #cf4949;
}
.btn:focus {
  box-shadow: inset 0 0 0 2pt #00000050;
}
.btn:active {
  transform: translateY(2pt);
  filter: brightness(120%);
}
.btn:disabled {
  background-color: #35353548;
  cursor: not-allowed;
  opacity: .6;
}
.btn:disabled:focus,
.btn:disabled:hover,
.btn:disabled:active {
  background-color: #35353548;
  box-shadow: inset 0 0 0 2pt #00000000;
  transform: none;
}
.dw-100 {
  width: 100%;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 1rem !important;
}
.mb-3 {
  margin-bottom: 1.5rem !important;
}
.mb-4 {
  margin-bottom: 2rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.5rem !important;
}
.mt-2 {
  margin-top: 1rem !important;
}
.mt-3 {
  margin-top: 1.5rem !important;
}
.mt-4 {
  margin-top: 2rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 0.5rem !important;
}
.mr-2 {
  margin-right: 1rem !important;
}
.mr-3 {
  margin-right: 1.5rem !important;
}
.mr-4 {
  margin-right: 2rem !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 0.5rem !important;
}
.ml-2 {
  margin-left: 1rem !important;
}
.ml-3 {
  margin-left: 1.5rem !important;
}
.ml-4 {
  margin-left: 2rem !important;
}
.opa-0 {
  opacity: 0;
}
.opa-1 {
  opacity: 0.1;
}
.opa-2 {
  opacity: 0.2;
}
.opa-3 {
  opacity: 0.3;
}
.opa-4 {
  opacity: 0.4;
}
.opa-5 {
  opacity: 0.5;
}
.opa-6 {
  opacity: 0.6;
}
.opa-7 {
  opacity: 0.7;
}
.opa-8 {
  opacity: 0.8;
}
.opa-9 {
  opacity: 0.9;
}
.opa-10 {
  opacity: 1;
}
@keyframes rotateAnim {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.anim {
  position: relative;
}
.anim .dicon {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.anim-start .btn-text {
  opacity: 0;
}
.anim-start .dicon {
  opacity: 1;
  animation: rotateAnim 1500ms linear infinite;
}
.selectItem {
  color: #404040a2 !important;
}
.select-enabled {
  color: var(--textColor) !important;
}
.pd-in {
  padding: 0.2rem 1rem;
}
.sm-txt {
  font-size: 0.8rem;
}
.txt-color {
  color: var(--textColor);
}
.noteText {
  color: #404040;
}
.noteText label {
  font-weight: 600;
}
.noteText p{
  margin-top: .5rem;
}
.dontShow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.dontShow label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  opacity: 0.7;
  color: var(--textColor);
}
.dontShow label::before {
  content: "";
  display: block;
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  height: 12pt;
  width: 12pt;
  background-color: transparent;
  border: 2pt solid #00000040;
  transition: all 200ms ease;
}
.dontShow .inpCheck {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  visibility: none;
  position: absolute;
  left: -999999999%;
}
.dontShow .inpCheck:checked + label {
  opacity: 1;
}
.dontShow .inpCheck:checked + label::before {
  height: 15pt;
  width: 6pt;
  border-top: 0pt;
  border-left: 0pt;
  transform: rotateZ(45deg) translateY(-12pt) translateX(-5pt);
  border-color: rgb(16, 150, 56);
}
.errText{
  color: var(--tertiaryColor);
  padding: 0 1rem;
}
.opContainer
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.opContainer .opRow{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.opContainer .opRow .opCol{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  gap: 1rem;
}
.opContainer .opRow .opCol p {
  width: 100%;
}
.opContainer .opRow .opCol .item-placeholder
{
  background-color: transparent;
}
.border-bottom{
  padding: 0.5rem 0;
  border: 0;
  border-bottom: 1pt solid var(--textColorPrimary);
}
.b-dot
{
  border-style: dotted;
}
.b-dash
{
  border-style: dashed;
}
.linkLike{
  text-decoration: underline;
  color: rgba(0, 0, 255, 0.815);
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .mainPart{
    width: 60vw;
  }
}
@media only screen and (max-width: 550px) {
  body{
    background-color: #f1f1f1;
    justify-content: flex-start;
  }
  .mainPart{
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 1rem 2rem;
    min-width: 300px;
  }

}
@media only screen and (max-width: 450px) {
  .opContainer .opRow .opCol{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.2rem;
  }
  .opContainer .opRow .opCol .sm-title::after{
    content: " : ";
  }
}
@media only screen and (max-width: 350px) {
  body{
    transform: scale(0.8);
  }
}

/* MainPageDesign Down Here */
.dTableCont {
  background-color: #f1f1f1;
  padding: 1rem;
}
.numTxt {
  all: unset;
  width: 100px;
  margin: 0;
}